<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Help Page</title>
    <link rel="stylesheet" href="./help.css" />
  </head>
  <body>
    <p>
      <b
        >Make sure that you have typed in your name, selected the school at
        which you are playing, and your starting time and duration (how long you
        will be at the court).</b
      >
    </p>
    <p><b>For further information, contact (925)-549-8691.</b></p>
  </body>
</html>
