<!DOCTYPE html>

<html>
  <head>
    <title>Register for a Tennis Court</title>
    <link rel="stylesheet" href="./style.css" />
  </head>

  <body>
    <img
      src="./tennisimages/biggertenniscourthomepage.jpg"
      alt="Image of a Tennis Court"
      width="1355"
    />
    <a href="reservation.html" target="_blank">
      Click to reserve a tennis court</a
    >
    <br />
    <a href="help.html" target="_blank"> Click to get some help</a>
    <br />
    <a href="reviews.html" target="_blank">
      Click to view actual reviews about this app!</a
    >
    <br />
  </body>
</html>
