<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reserve your Tennis Court here</title>
  </head>
  <body>
    Here, you will be able to reserve your tennis court!

    <form action="/register" method="post">
      <input name="name" placeholder="name" type="text" />
      <input name="starting time" placeholder="starting time" type="text" />
      <input name="duration" placeholder="duration" type="text" />

      <select name="School">
        <option disable selected value=" ">School</option>
        <option ="DVHS "> DVHS</option>
        <option ="Cal High ">Cal High</option>
        <option ="Monte Vista ">Monte Vista</option>
      </select>
      <input type="submit" value="Register" />
    </form>
  </body>
</html>
