<!DOCTYPE html>
<html>
  <title>Current Reservations</title>
 <!-- <link rel="stylesheet" href="/static/list.css" /> -->
  <body>
    <h1> Current Reviews </h1>
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
    
      td,
      th {
        border: 1px solid darkgreen;
        text-align: left;
        padding: 8px;
        background: lightyellow;
      }
    
      tr:nth-child(even) {
        background-color: lightsteelblue;
      }
    </style>
    <br/>
    <br/>
    <table border="1">
        <th>Name</th>
        <th>Review</th>
      </thead>

      {% for row in rows %}
      <tr>
        <td>{{row["name"]}}</td>
        <td>{{row["userreview"]}}</td>
      </tr>
      {% endfor %}
    </table>
  </br>
  </br>
  <h2><a href="/">Go back to home page</a></h2>
    
  </body>
</html>
